.App {
  text-align: center;
}

body {
  overflow-x: hidden;
}

[hidden] {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin-top: 30px;
}

#container {
  margin-top: -50px;
}

.col-sm-3{
  background-color: rgba(0, 0, 0, 0.076);
}

.row.test{
  background-color: rgba(130, 130, 130, 0.179);
  height: 30vh;
  border-radius: 30px;
  padding: 1% 1%;
}

.titleChat{
  text-transform: uppercase;
}

@media (min-width: 1400px){
  .container.xl{
    max-width: 1420px;
    height: 100vh;
  }
}

.Media {
  height: 100%;
}

.Banner {
  height: 600px;
}

.BannerGrid {
  height: 100%;
  position: relative;
}

.Banner .Media .MediaCaption {
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  padding: 15px;
  background-color: #000;
  color: #fff;
  opacity: .6;
  width: 100%;
  height: 10%;
  font-size: 25px;
  font-weight: 200;
  transition: .3s;
  cursor: pointer;
}

.Content .Media {
  height: 100%;
}

.containProfilCarousel{
  height: auto;
  width: 100%;
  padding: 1%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  -ms-overflow-style: none;
}

.containProfilCarousel::-webkit-scrollbar { display: none; }
.containProfilCarousel::-webkit-scrollbar { display: none; }

.overflow-X {
  width: 200vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.overflow-Y {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.containChat{
  height: 55vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  -ms-overflow-style: none;
}

.card:not(:first-child){
  margin-left: 10px;
}

.row{
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.309);
}

.titleHP{
  text-align: left;
}

.messageChat{
  width: 100%;
  border-radius: 20px;
  background-color: white;
}

.input-item {
  width: 100%;
}

.NameStreamer {
  color: #000;
  width: 70%;
}

.NameStreamer h2 {
  font-size: xx-large;
  margin-bottom: 30px;
}

.NameStreamer p {
  text-align: left;
}

.buttonDiv {
  width: 15%;
  margin-top: 75px;
}

.playertoolbar {
  width: 100%;
  color: black;
  text-align: left;
  position: relative;
}

.window {
  height: auto;
  width: 100%;
  background-color: red;
  position: absolute;
  z-index: 100;
}

[aria-haspopup=false]{
  display: none;
}
[aria-haspopup=true]{
  display: block;
}

.containFullChat{
  bottom: 18%;
  background-color: rgba(255, 0, 0, 0);
  z-index: 3;
  position: absolute;
  height: 55vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  -ms-overflow-style: none;
}

.containFullMode{
  position: relative;
  height: 96vh;
  background-color: #000;
}