.App {
  text-align: center;
}

body {
  overflow-x: hidden;
}

[hidden] {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin-top: -30px;
}

.Media {
  height: 100%;
}

.Banner {
  height: 600px;
}

.BannerGrid {
  height: 100%;
  position: relative;
}

.Banner .Media .MediaCaption {
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  padding: 15px;
  background-color: #000;
  color: #fff;
  opacity: .6;
  width: 100%;
  height: 10%;
  font-size: 25px;
  font-weight: 200;
  transition: .3s;
  cursor: pointer;
}

.Content .Media {
  height: 100%;
}

.containProfilCarousel{
  height: auto;
  width: 100%;
  padding: 1%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  -ms-overflow-style: none;
}

.overflow-X {
  width: 200vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.card:not(:first-child){
  margin-left: 10px;
}